/* PHASE 3: Content */

.content {
    background-color: white;
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}

.content-sidebar {
    width: 200px;
    float: left;
    padding: 20px;
}

.content-main {
    width: 620px;
    float: left;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {

}