<html>
  <body>
    <h1>Welcome to 99cats.com, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to 99cats.com.
      Your username is: <%= @user.username %>.<br />
    </p>
    <p>
      To log in to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>